{{ define "Navigation" }}
<nav class="top-bar">
    <ul class="title-area">
        <li class="name">
            <h1><a href="/">File Explorer Project</a></h1>
        </li>
    </ul>

    <section class="top-bar-section">
        <form action="/search/" method="POST" id="search-form">
            <ul class="right">
                <li class="active"><a href="/">Go to Root</a></li>
                <li class="has-form">
                    <div class="row collapse">
                        <div class="small-9 columns">
                            <input type="text" placeholder="Name" name="entity-name">
                        </div>
                        <div class="small-3 columns">
                            <div class="button expand" onclick="document.getElementById('search-form').submit();">
                                Search
                            </div>
                        </div>
                    </div>
                </li>
                <li class="has-form">
                    <div class="row collapse">
                        <div class="small-12 columns">
                            <input type="checkbox" name="fileFlag" value="yes" id="search-files" checked>
                            <label for="search-files">Search Files</label>
                        </div>
                    </div>
                </li>
                <li class="has-form">
                    <div class="row collapse">
                        <div class="small-12 columns">
                            <input type="checkbox" name="dirFlag" value="yes" id="search-directories" checked>
                            <label for="search-directories">Search Directories</label>
                        </div>
                    </div>
                </li>
            </ul>
        </form>
    </section>
</nav>
{{ end }}